@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;1,400;1,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300&family=Sofia+Sans:wght@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', 'sans-serif';
}
.nav_bar{
    width: 100%;
    height: 70px;
    
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#UT{
    width: 50px;
   margin-left: 10px;
    
}
.left{
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.left i{
    cursor: pointer;
    padding: 0 10px;
}
.search form{
border: 2px solid #ddd;
height: 35px;
margin: 0;
pad: 0;
display: flex;
}
.search input{
    width: 500px;
    border: none;
    margin: 0;
    padding: 10px;
}
.search button{
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}
.material-icons{
    color: rgb(96,96,96);
}
.main{
    display: flex;
}
.sidebar{
    width: 230px;
    background-color: white;
    height: 100%;
}
.sidebar_categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    margin-bottom: 15px;
}
.categories{
    display:flex;
    align-items: center;
    padding: 15px 25px;
  

}
.categories:hover{
    cursor: pointer;
    background-color: #e5e5e5;
}
span{
    margin-left: 15px;
    color: rgb(96,96,96);
    font-size: 14px;
    font-family :'Roboto', "sans-serif"
}
hr{
    height: 1px;
    border: none;
    background-color: #e5e5e5;
   
}
.videos{
    background-color: #f9f9f9;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    width: 100%;
    height: 100%;
}
.videos_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.single_video{
width: 309px;
margin-bottom: 35px;
margin-left: 1px;
}
.thumbnail{
    width:100%;
    height: 170px;
    margin-left: 2px;
    
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video_details{
    display: flex;
    flex-direction: row;
    margin-top:5px ;

}
.channel_logo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
h1{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3,3,3);
}
.info h3{
    color: rgb(3,3,3);
   line-height: 20px;
   font-size: 18px;
   margin-bottom: 6px; 
}
.info{
    display: flex;
    flex-direction: column;
}
.info span{
    margin-left:0px;
}
.info a{
    text-decoration: none;
    color: rgb(96,96,96);
    font-size: 15px;
}